@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden; }

*:focus {
  outline: 0 !important; }

.form-row {
  margin-bottom: 8px; }

.form-control {
  border: solid 2px #f5f5f5;
  box-shadow: none;
  height: 42px;
  padding: 12px 16px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  color: #6d7377;
  font-weight: 400; }
  .form-control:focus, .form-control:active {
    box-shadow: none;
    outline: none;
    border-color: #1BA1F8; }

.input-group-2 {
  position: relative; }

.input-group-2 .input-group-addon {
  position: absolute;
  height: 42px;
  line-height: 42px;
  width: 42px;
  text-align: center;
  padding: 0;
  background: none;
  color: #6d7377;
  font-size: 1.6rem;
  border: none; }

.input-group-2 .form-control {
  padding-left: 38px; }

.btn-primary {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #1BA1F8;
  -moz-box-shadow: 0 2px #078de3;
  -webkit-box-shadow: 0 2px #078de3;
  box-shadow: 0 2px #078de3;
  font-size: 14px;
  border: none;
  padding: 0 32px;
  height: 42px;
  line-height: 42px;
  text-shadow: none;
  -moz-transition: 0.33s;
  -o-transition: 0.33s;
  -webkit-transition: 0.33s;
  transition: 0.33s; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #0c9bf8;
    -moz-box-shadow: 0 2px #078de3;
    -webkit-box-shadow: 0 2px #078de3;
    box-shadow: 0 2px #078de3; }

.alert-danger {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #f2dede;
  -moz-box-shadow: 0 2px #e6c1c1;
  -webkit-box-shadow: 0 2px #e6c1c1;
  box-shadow: 0 2px #e6c1c1;
  color: #b84c4c;
  border: none; }

.alert-success {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #dff0d8;
  -moz-box-shadow: 0 2px #c7e5bb;
  -webkit-box-shadow: 0 2px #c7e5bb;
  box-shadow: 0 2px #c7e5bb;
  color: #67b646;
  border: none; }

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  color: #e9e9e9;
  background: #25272A; }

.sidebar-nav {
  margin-top: 12px; }
  .sidebar-nav li a {
    color: #e9e9e9;
    font-size: 12px; }
    .sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus {
      box-shadow: 0 1px 0 #17181a, inset 0 1px #33363a;
      background: #202225; }
  .sidebar-nav li.active a {
    color: #e9e9e9;
    border: none;
    /*box-shadow: 0 1px 0 rgba(180, 182, 183, 0.1), inset 0 1px 2px rgba(5, 5, 5, 0.5);*/
    box-shadow: 0 1px 0 #42454b, inset 0 1px #0d0e0f;
    background: #191a1c; }
  .sidebar-nav .heading {
    display: block;
    color: #555960;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 16px 12px 16px 12px; }
  .sidebar-nav hr {
    height: 0;
    border: 0;
    margin: 12px;
    background: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 250px;
  background: #fff;
  overflow: auto;
  padding: 14px; }

h2 .label {
  font-size: 32px;
  color: #2a2a2a;
  background: none;
  border-radius: 0;
  padding: 0; }

.btn-default {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #e9e9e9;
  -moz-box-shadow: 0 2px #d5d5d5;
  -webkit-box-shadow: 0 2px #d5d5d5;
  box-shadow: 0 2px #d5d5d5;
  font-size: 14px;
  border: none;
  padding: 0 32px;
  height: 42px;
  line-height: 42px;
  text-shadow: none;
  -moz-transition: 0.33s;
  -o-transition: 0.33s;
  -webkit-transition: 0.33s;
  transition: 0.33s; }
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    background: #e1e1e1;
    -moz-box-shadow: 0 2px #d5d5d5;
    -webkit-box-shadow: 0 2px #d5d5d5;
    box-shadow: 0 2px #d5d5d5; }

.navbar-form .btn {
  height: 38px;
  line-height: 38px;
  margin-top: -4px; }

.form-login .btn {
  width: 100%; }

.form-login {
  max-width: 320px;
  margin: 0 auto; }

.login-footer-copy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #c3c3c7;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 12px; }
  .login-footer-copy a {
    color: inherit;
    text-decoration: none; }

@media screen and (max-height: 320px) {
  .login-footer-copy {
    display: none !important; } }
@media screen and (max-width: 480px) {
  /*    .form-login{
          max-width: none;
      }*/ }
